@model SMS.Web.Areas.Dashboard.ViewModels.ClassActionModel
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Delete Class
            </h5>


            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="courseDelete">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="alert alert-danger" role="alert">
                    Are you sure want to delete this !!?
                </div>

            </form>

            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-danger" id="deleteBtn"><i class="fas fa-trash mr-1"></i>Delete</button>


            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Cancle</button>

        </div>
    </div>
}

<script>

    $("#deleteBtn").click(function () {

        $.ajax({
            url : '@Url.Action("Delete", "Classes")',
            type: 'POST',
            data: $("#courseDelete").serialize()
        })
			.done(function (response) {
			    if(response)
			    {
			        window.location.href = "@Url.Action("Index", "Classes")";
			        //location.reload();

			    }
			    else
			    {
			        $(".errorDiv").html(response.Message)
			    }

			});
    });

</script>